body {
  font-family: "Avenir Next";

}

li {
  list-style: none;

  float: left;

}

.header {
  background-color: #98ffe0;
  height: 140px;
  padding-bottom: 100px;
}


.header-logo {
  float: left;
  font-size: 120px;
  color: rgb(81, 0, 255);
}

.main {
  background-color: #8bffaa;
  height: 800px;
}
li {
  font-size: 50px;
  padding-left: 30px;
}
.footer {
  background-color: #daff83;
  height: 50px;
}
.kami {
  font-size: 25px;
}
